.attribute-name {
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    justify-content: end;
    align-items: center;
}
.attribute-value {
    display: flex;
    justify-content: start;
    align-items: center;
}
.type-tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.type-icon {
    width: 1.2rem;
    margin: 6px 5px 3px 10px;
}